<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label" for="">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control"
                formControlName="nombre">
        </div>

        <div class="col-auto">
            <span
                  error-msg
                  [color]='colorQueQuiero'
                  [mensaje]="texto1"
                  [valido]="tieneError('nombre')">
                Este campo es requerido
            </span>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary"
                (click)="cambiarNombre()">
                Guardar
            </button>

            <button class="btn btn-primary"
                (click)="cambiarColor()">
                Cambiar Color
            </button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>Value: {{miFormulario.value | json}}</pre>

<div class="row mt-5"
    *customIf="miFormulario.valid">
    <div class="col">
        <div class="alert alert-primary">
            OK
        </div>
    </div>
</div>
