.search-container {
    left: 20px;
    position: fixed;
    top: 20px;
    width: 275px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
}
