<div class="search-container">

    <input type="text"
            class="form-control"
            placeholder="Buscar lugar..."
            #txtQuery
            (keyup)="onQueryChanged(txtQuery.value)"
            >

            <app-search-results></app-search-results>

</div>
