<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
    Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
            [subheader]="nombreLower">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
            [subheader]="nombreLower">
            {{ nombreLower | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
            [subheader]="nombreCompleto">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | fecha</h1>
    <p>
    Pipe para mostrar fechas
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'MMMM'</li>
                <li>fecha | date:'MMM dd, yyy'</li>
            </ul>

            <hr>
            <ul>
                <li></li>
                <li>fecha | date:'long':'GMT-6'</li>
                <li>fecha | date:'long':'GMT-4' </li>
                <li>fecha | date:'long':'':'en' </li>
                <li>fecha | date:'long':'':'fr' </li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li> {{ fecha }} </li>
                <li> {{ fecha | date }} </li>
                <li> {{ fecha | date:'short' }} </li>
                <li> {{ fecha | date:'long' }} </li>
                <li> {{ fecha | date:'MMMM' }} </li>
                <li> {{ fecha | date:'MMM dd, yyy' }} </li>
            </ul>

            <hr>
            <ul>
                <li></li>
                <li> {{ fecha | date:'long':'GMT-6' }} </li>
                <li> {{ fecha | date:'long':'GMT-4' }} </li>
                <li> {{ fecha | date:'long':'':'en' }} </li>
                <li> {{ fecha | date:'long':'':'fr' }} </li>
            </ul>
        </p-card>
    </div>
</div>

