<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form
        (ngSubmit)="guardar()"
        autocomplete="off" [formGroup]="miFormulario">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                formControlName="nombre"
                placeholder="Nombre de la persona">
                <span class="form-text text-danger"
                    *ngIf="campoEsInvalido('nombre')">
                    Este campo es obligatorio
                </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                    [formControl]="nuevoFavorito"
                    placeholder="Agregar favorito"
                    (keyup.enter)="agregarFavorito()">
                <button class="btn btn-outline-primary" type="button"
                    (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1"
                *ngFor="let favorito of favoritosArr.controls; let i = index">
                <input class="form-control mb-1"
                    [formControlName]="i">
                <button class="btn btn-outline-danger"
                    type="button"
                    (click)="borrar(i)">
                    Eliminar
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"
                    (click)="agregarFavorito()">
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br>

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<span>Agregar juego</span>
<pre>{{ nuevoFavorito.value }}</pre>
<br>

<span>Agregar juego</span>
<pre>{{ nuevoFavorito.valid }}</pre>
<br>

