<h2>Tempate: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()"
            #miFormulario="ngForm"
            autocomplete="off">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        [ngModel]="initForm.producto"
                        name="producto"
                        placeholder="Nombre del producto"
                        required
                        minlength="3">
                    <span class="form-text text-danger"
                        *ngIf="nombreValido()">
                        Debe ser de 3 letras o más
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        [ngModel]="initForm.precio"
                        name="precio"
                        placeholder="Precio del producto"
                        required>
                    <span class="form-text text-danger"
                        *ngIf="precioValido()">
                        El precio debe ser mayor o igual a 0
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        [ngModel]="initForm.existencia"
                        name="existencia"
                        customMin
                        [minimo]="0"
                        required
                        placeholder="Existencias del producto">
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <button type="submit"
                        [disabled]="miFormulario.invalid"
                        class="btn btn-primary float-end">
                        Guardar
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid | json}}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine | json}}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched | json}}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json}}</pre>

        <span>customDirective</span>
        <pre>{{ miFormulario.controls.existencias?.errors | json}}</pre>

    </div>
</div>
