<div *ngIf="isLoadingPlaces"
    class="alert alert-primary mt-2 text-center">
        <h6>Cargando</h6>
        <span>Espere por favor...</span>
</div>

<ul class="list-group mt-2" *ngIf="places.length > 0">
    <li *ngFor="let place of places"
        [class.active]="place.id === selectedId"
        (click)="flyTo(place)"
        class="list-group-item list-group-item-action pointer">
        <h6>{{place.text_es}}</h6>
        <p>{{place.place_name}}</p>
        <button
            (click)="getDirections(place)"
            [ngClass]="(place.id === selectedId) ? 'btn-outline-light': 'btn-outside-primary'"
            class="btn btn-sm btn-outline-primary">
            Direcciones
        </button>
    </li>
</ul>
