<h2>Reactivos: Switches</h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" >Genero</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                    value="M"
                    type="radio"
                    formControlName="genero"
                    id="radioMasculino"
                    >
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                value="F"
                type="radio"
                formControlName="genero"
                id="radioFemenino"
                >
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" >Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2"
                >
                <input class="form-check-input"
                type="checkbox"
                role="switch"
                formControlName="notificaciones"
                id="flexSwitchCheckChecked">
               <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" ></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                    type="checkbox"
                    role="switch"
                    formControlName="condiciones"
                    id="flexSwitchCheckChecked"
                    required>
                <label class="form-check-label" for="flexSwitchCheckChecked">
                    Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">
                Guardar
            </button>
        </div>
    </div>

</form>

<h5>Formulario:</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<h5>Persona:</h5>
<pre>{{ persona | json }}</pre>
<br>

<h5>Valid:</h5>
<pre>{{ miFormulario.valid | json }}</pre>
<br>

