<h1>Redes sociales más usadas</h1>
<hr>

<div *ngIf="doughnutChartData.datasets[0].data.length === 0" class="alert alert-info">
    Cargando...
</div>

<div class="row">
    <div class="col">
        <canvas baseChart
            [data]="doughnutChartData"
            [type]="doughnutChartType">
        </canvas>
    </div>
</div>
