<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>
    <li>
        <a routerLink="/heroes/listado">
            Ir a Listado
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a Agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a Buscar
        </a>
    </li>
</ul>
