<h2>Reactive: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form
            (ngSubmit)="guardar()"
            autocomplete="off" [formGroup]="miFormulario">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del producto"
                        minlength="3">
                    <span class="form-text text-danger"
                        *ngIf="campoEsInvalido('nombre')">
                        Debe ser de 3 letras o más
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        formControlName="precio"
                        placeholder="Precio del producto"
                        required>
                    <span class="form-text text-danger"
                        *ngIf="campoEsInvalido('precio')">
                        El precio debe ser mayor o igual a 0
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                        class="form-control"
                        formControlName="existencias"
                        customMin
                        placeholder="Existencias del producto">
                    <span class="form-text text-danger"
                        *ngIf="campoEsInvalido('existencias')">
                        Debe haber 0 existencias o más
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <button type="submit"
                        class="btn btn-primary float-end"
                        >
                        Guardar
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid | json}}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine | json}}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched | json}}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json}}</pre>

    </div>
</div>
