<!-- <p>{{ nombre }}</p> -->
<!-- <input type="" placeholder="Holiwis" -->
<!--     [(ngModel)]="nombre"> -->

<!-- <button (click)="guardar()"> -->
<!--     Click -->
<!-- </button> -->

<!-- <br> -->

<!-- <!-1- <app-muestra-nombre [nombre]="nombre"></app-muestra-nombre> -1-> -->

<h1>Segundos: {{ segundos }}</h1>
