<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Regiones -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="">Región:</label>
            <select class="form-control" formControlName="region">
                <option value="">-- Seleccione región --</option>
                <option *ngFor="let region of regiones"
                    [value]="region | lowercase">
                    {{ region }}
                </option>
            </select>
        </div>
    </div>

    <!-- Pais -->
    <div class="row mb-3" *ngIf="paises.length !== 0">
        <div class="col">
            <label class="form-label" for="">Pais:</label>
            <select class="form-control" formControlName="pais">
                <option value="">-- Seleccione país --</option>
                <option *ngFor="let pais of paises"
                    [value]="pais.alpha3Code">
                    {{ pais.name }}
                </option>
            </select>
        </div>
    </div>

    <!-- Fronteras -->
    <div class="row mb-3" *ngIf="fronteras.length !== 0">
        <div class="col">
            <label class="form-label" for="">Pais:</label>
            <select class="form-control" formControlName="frontera">
                <option value="">-- Seleccione país fronterizo --</option>
                <option *ngFor="let frontera of fronteras"
                    [value]="frontera.alpha3Code">
                    {{ frontera.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="row" *ngIf="cargando">
        <div class="col">
            Cargando...
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end">
                Seleccionar
            </button>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>Value: {{miFormulario.value | json}}</pre>
