<p>Listado de héroes</p>

<div *ngIf="heroeBorrado; else noBorrado">
	<h3> Héroe borrado </h3>
	<span>{{ heroeBorrado }}</span>
</div>

<ng-template #noBorrado>
	<h3>No se ha borrado nada</h3>
</ng-template>


<button (click)="borrarHeroe()">
	Borrar
</button>


<ul>
	<li *ngFor="let heroe of heroes;">
		{{ heroe }}
	</li>
</ul>

