<p>¿Estás seguro</p>
<hr>
<p>
    Estás a punto de borrar a {{ data.superhero }}
    <br>
    ¿Deseas continuar?
</p>

<div>
    <button mat-button (click)="borrar()" color="warn">Sí, borrar</button>
    <button mat-button (click)="cerrar()" >Cancelar</button>
</div>
