<h2>Template: Switches</h2>
<hr>

<form #miFormulario="ngForm">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" >Genero</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                    value="M"
                    [(ngModel)]="persona.genero"
                    type="radio"
                    name="radioGenero"
                    id="radioMasculino"
                    required>
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                value="F"
                [(ngModel)]="persona.genero"
                type="radio"
                name="radioGenero"
                id="radioFemenino"
                required>
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" >Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2"
                [(ngModel)]="persona.notificaciones">
                <input class="form-check-input"
                name="notificaciones"
                type="checkbox"
                name="terminos"
                [(ngModel)]="terminosYCondiciones"
                role="switch"
                id="flexSwitchCheckChecked">
               <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" ></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" required>
                <label class="form-check-label" for="flexSwitchCheckChecked">
                    Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>

</form>

<h5>Formulario:</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<h5>Persona:</h5>
<pre>{{ persona | json }}</pre>
<br>

<h5>Valid:</h5>
<pre>{{ miFormulario.valid | json }}</pre>
<br>

