<!-- <div class="text-layout"> -->
<!--     <h1>{{ nombre | titlecase }}</h1> -->
<!--     <h1>{{ valor | number }}</h1> -->
<!-- </div> -->

<!-- <button -->
<!--     pButton -->
<!--     (click)="mostrarNombre()" -->
<!--     icon="pi pi-bell" -->
<!--     iconPos="right" -->
<!--     class="p-button-help" -->
<!--     label="Cambiar nombre"> -->
<!-- </button> -->


<!-- <p-card [header]="nombre | titlecase" -->
<!--     subheader="Esto es un subheader"> -->
<!--     Hola amiguitos -->
<!-- </p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
