<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()"
    #miFormulario="ngForm"
    autocomplete="off">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                placeholder="Nombre de la persona"
                [ngModel]="persona.nombre"
                required
                ngModel
                name="nombre">
                <span class="form-text text-danger"
                    *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched">
                    Este campo es obligatorio
                </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                    placeholder="Agregar favorito"
                    required
                    [(ngModel)]="nuevoJuego"
                    (keyup.enter)="agregarJuego()"
                    name="nuevoJuego">
                <button class="btn btn-outline-primary" type="button"
                    (click)="agregarJuego()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1"
                *ngFor="let juego of persona.favoritos; let i = index">
                <input
                    [(ngModel)]="juego.nombre"
                    [name]="'favorito_' + i"
                    class="form-control mb-1" type=""
                    required>

                <button class="btn btn-outline-danger"
                    type="button"
                    (click)="eliminar(i)">
                    Eliminar
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    [disabled]="miFormulario.invalid"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>

</form>

<pre>{{ persona | json }}</pre>
