<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del usuario">
                    <span class="form-text text-danger"
                        *ngIf="campoNoValido('nombre')">
                        Debe ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Correo del usuario">
                    <span class="form-text text-danger"
                        *ngIf="campoNoValido('email')">
                        {{ emailErrorMsg }}
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="username"
                        placeholder="Username del usuario">
                    <span class="form-text text-danger"
                        *ngIf="campoNoValido('username')">
                        El username no puede ser 'Strider'
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="Contraseña del usuario">
                    <span class="form-text text-danger"
                        *ngIf="campoNoValido('password')">
                        Debe ser de 6 caracteres
                    </span>
                </div>
            </div>

            <!-- Password 2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="">Confirmar contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        formControlName="password2"
                        placeholder="Confirmación de contraseña del usuario">
                    <span class="form-text text-danger"
                        *ngIf="campoNoValido('password2')">
                        Las contraseñas deben ser iguales
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            [disabled]="miFormulario.pending"
                        type="submit">
                        Crear
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<h2>Form valid: {{ miFormulario.valid }} </h2>
<h2>Form status: {{ miFormulario.status }} </h2>
<h2>Form errors: </h2>
<pre>{{ miFormulario.errors | json }}</pre>
<br>


<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
