<h1>Proporción en ventas</h1>
<hr>

<div class="row">
    <div class="col">
        <div style="display: block">
            <canvas baseChart
                [data]="doughnutChartData"
                [type]="doughnutChartType">
          </canvas>
        </div>
    </div>
</div>
