<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
    Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col md:col-6 sm:col-9">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos, {{ nombre }}. Es un placer
                {{ genero | i18nSelect:invitacionMap  }}
                al evento.
            </p>
            <button pButton (click)="cambiarCliente()">Cambiar persona</button>
        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-9">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                Actualmente tenemos {{ clientes.length | i18nPlural:clientesMap }}.
            </p>
            <button pButton (click)="borrarCliente()">Borrar cliente</button>
        </p-fieldset>
    </div>
    <div class="col md:col-6 sm:col-9">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{ clientes }}</pre>

            <b>slice:0:2</b>
            <pre>{{ clientes | slice:0:2 }}</pre>

            <b>slice:1:2</b>
            <pre>{{ clientes | slice:1:2 }}</pre>

            <b>slice:1:3</b>
            <pre>{{ clientes | slice:1:3 }}</pre>

            <b>slice:3:3</b>
            <pre>{{ clientes | slice:3:4 }}</pre>

        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-9">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>{{ heroes | json }}</pre>
        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-9">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                    <b>{{ item.key | titlecase }}: {{ item.value }}</b>
                </li>
            </ul>
        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-9">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa...</pre>
            <pre>{{ valorPromesa | async}}</pre>
            <!-- <pre>{{ miObservable | async}}</pre> -->
        </p-fieldset>
    </div>

</div>
