<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="agregarMarcador()">
        Agregar
    </li>

    <li class="list-group-item"
        *ngFor="let marcador of marcadores; let i = index"
        (click)="irMarcador(marcador.marker!)"
        (dbclick)="borrarMarcador(i)"
        [ngStyle]="{'background-color': marcador.color}">
        Marcador {{ i + 1 }}
    </li>

</ul>
<div #mapa class="mapa-container"></div>
