<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar por país...">
        </app-pais-input>
    </div>
</div>

<div class="row">
    <ul *ngIf="mostrarSugerencias" class="list-group">
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action>">
            <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">
                {{ pais.name }}
            </a>
        </li>
        <li class="list-group-item list-group-item-action>">
            <a class="nav-link"
                (click)="buscar(termino)">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>
</div>

<hr>

<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el término "{{ termino }}"
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
