<div #mapa class="mapa-container"></div>

<div class="row">
    <div class="col-12">
        <label class="form-label">
            Zoom: {{ zoomLevel | number:'2.2-2' }}
            - Lng, lat: [{{center[0] | number:'2.4-4'}}, {{center[1] | number:'2.4-4'}}]
        </label>
        <input type="range"
               class="form-range"
               [value]="zoomLevel"
               min="1"
               max="22"
               (input)="zoomCambio(zoomInput.value)"
               #zoomInput>
    </div>

    <div class="col-12">
        <button (click)="zoomOut()" class="btn btn-primary">
            -
        </button>

        <button (click)="zoomIn()" class="btn btn-primary float-end">
            +
        </button>
    </div>
</div>
