<form class="login100-form"
    autocomplete="off"
    [formGroup]="miFormlario">

    <span class="login100-form-title p-b-49">
        Nuevo usuario
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Nombre</span>
        <input class="input100"
               type="text"
               formControlName="name"
               placeholder="Ingrese su nombre">
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Email</span>
        <input class="input100"
               type="email"
               formControlName="email"
               placeholder="Ingrese su email">
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
        <span class="label-input100">Password</span>
        <input class="input100"
               type="password"
               formControlName="password"
               placeholder="Ingrese su contraseña">
        <span class="focus-input100"></span>
    </div>

    <div class="text-right p-t-8 p-b-31"></div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                type="submit"
                (click)="login()"
                [disabled]="miFormlario.invalid">
                Registrar
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-60">
        <span class="txt1 p-b-17">
            ¿Ya tienes cuenta?
        </span>

        <a routerLink="/auth/login" class="txt2">
            Ingresa una aquí
        </a>
    </div>
</form>
